/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }

  /* Darker background-color on hover */
ul li:hover {
    background: #ddd;
  }